.main {
  background: url(../img/mobile-bl.png);
  background-attachment: fixed;
  background-size: cover;
  padding-top: 1rem;
}
.about-us {
  background: url(../img/wooden-spoon-b.png);
  background-size: cover;
  color: $white;
  @include card-style;
  margin: 0 1rem;
  .about-us__img {
    border-radius: 15px 15px 0px 0px;
  }
  .about-us__title {
    font-size: 5rem;
    letter-spacing: 0.3rem;
    padding: 2rem;
    font-family: "Amatic SC", cursive;
  }
  .about-us__text {
    margin: 0;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    padding: 0rem 1rem 2rem 1rem;
    font-family: "Bellota", cursive;
    // font-weight: 700;
  }
}
